.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
*.pt
*.txt
*.json
data/
outputs/
outputs_letitia/
README_files/
IGNORE/
test_scripts/
visualization_outputs/
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
